/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/files/*
!/public/files/.htaccess
/storage/MimicWhitePaper.pdf
/public/blog/
/public/google88dfe09525f52bca.html
/public/ico-files/img/marketing/*
/public/robots.txt
.php_cs.cache
.DS_Store
/public/.DS_Store