/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/files/*
!/public/files/.htaccess
/public/ico-files/MimicWhitePaper.pdf
/public/blog/
/public/google88dfe09525f52bca.html
